ArkServerCreationToolSharedMods.local.json
ArkServerCreationToolSharedMods.settings.json
*.local.json
*.settings.json
*.lock
*.log
app/*.log
app/*.lock
Temp/
Backups/
InstalledServers/
Shared/
depotdownloader/
runtimes/
Licenses/
*.exe
*.dll
*.pdb
*.deps.json
*.runtimeconfig.json
